.App {
  font-family: sans-serif;
  text-align: center;
}

input {
  padding: 0.6rem 2rem;
}

span {
  padding: 1rem;
  font-size: larger;
  overflow-wrap: break-word;
  word-wrap: break-word;
  cursor: pointer;
  justify-content: space-evenly;
  line-height: 200%;
}
